<!DOCTYPE html>
<html>
	<head>
    <link rel="stylesheet" href="./public/style.css" type="text/css"></link>
    
		<title>Home page</title>

  </head>

	<body> 
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="/views/news.html">News</a>
      <a href="#">Activity</a>
      <a href="/views/tutoring.html">Tutoring</a>
      <a href="/views/lost_found.html">Lost & Found</a> 
    	 <ul>
      		<form method="get" action="/lost_found" class="menu-button" id="News-menu-button">
      			<li><button>News</button></li>
      		</form>

      		<form method="get" action="/entertainment" class="menu-button" id="Activity-menu-button">
      			<li><button>Activity</button></li>
      		</form>

      		<form method="get" action="/lost_found" class="menu-button" id="Tutor-menu-button">
      			<li><button>Tutoring</button></li>
      		</form>

      		<form method="get" action="/lost_found" class="menu-button" id="lost_found-menu-button">
      			<li><button>Lost & Found</button></li>
      		</form>
    	</ul>
    </div>

    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>


    <div id="main">

    </div>

    <script>
            /* Set the width of the side navigation to 250px and the left margin of the page content to 250px and add a black background color to body */
  
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
  }

  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
  }
     
  </script>
	</body>
	
</html>
