<!DOCTYPE html>
<html>
	<head>
		<title>Home page</title>

<style>
	body{
		margin-top: 50px;
		text-align: center;
	}
</style>

<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li button {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
</style>

	</head>

	<body>

	<ul>
  		<form method="get" action="/lost_found">
  			<li><button>News</button></li>
  		</form>

  		<form method="get" action="/entertainment">
  			<li><button>Entertainment</button></li>
  		</form>

  		<form method="get" action="/lost_found">
  			<li><button>Tutoring</button></li>
  		</form>

  		<form method="get" action="/lost_found">
  			<li><button>Lost & Found</button></li>
  		</form>
	</ul>

	</body>
</html>
