<!DOCTYPE html>
<html>
	<head>
		<title>Lost and Found</title>
    	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    	<link rel="stylesheet" href="/public/style.css" />
	</head>

	<body>
		<div id="nav-placeholder"></div>

	    <div id="main">
	      <h2 class="Second-title"> Lost & Found </h2>
	      	<form method="post" action="/search_lost"> 
	      		<input type="text" placeholder="Search.." name="item_name">
	      		<button type="submit" ><i class="fa fa-search">Search</i></button>
	    	</form>

	    		</br>

	    	<form method="get" action="/new_form">
	    		<button >New Lost Form</button>
	    	</form>
	    </div>

		<script>
			$(function(){
			  $("#nav-placeholder").load("/views/nav.html");
			});
		</script>
		

	</body>
</html>
