<!DOCTYPE html>
<html>

<head>
	<script
	src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous">
</script>
<link rel="stylesheet" href="/public/style.css" />
</head>

<body>

	<form method='get' action='/'>
		<button>Home</button>
	</form>

	<form method="post" action="/get_lost_data">

		<h2>Item's name <input type="text" name="item_name"> </h2>
		<h2>Your name<input type="text" name="student_name"> </h2>


		
		<label for="grade" style="font-weight:bold;font-size:26px">Your Grade</label>
 
		<select name="grade" id="grade">
			<option value="9">9th</option>
			<option value="10">10th</option>
			<option value="11">11th</option>
			<option value="12">12th</option>
		</select> 

	</br>
	</br>

		<label for="category" style="font-weight:bold;font-size:26px">Item Category</label>
 
		<select name="category" id="category">
			<option value="all">All</option>
			<option value="electronic-devices">Electronic Devices</option>
			<option value="books">Books</option>
			<option value="clothing">Clothing</option>
			<option value="other">Other</option>
		</select> 

		<h2>Email <input type="text" name="email"> </h2>
		<h2>Description<input type="text" name="description"> </h2>

		<button type="submit" >Submit</button>

	</form>

	<script type="text/javascript">

		$("#submit_lost_found").click(function(){

			console.log("HEY");

			var lost_item_data = {
				item_name: $("#item_name").val(),
				your_name: $("#your_name").val(),
				email: $("#email").val(),
				description: $("#description").val()

			}

				//$.post("/get_lost_data", lost_item_data);

				return false;

			})

		</script>

	</body>

	</html>


<!-- <button class="btn btn-lg btn-primary" type="submit" id="submit" onclick="location.replace('/main')">Submit!</button>
      <br />
      <br />
    </div>

  </form>

  <script type="text/javascript">

    $("#submit").click(function() {
      function validateForm() {
        var isValid = true;
        $(".form-control").each(function() {
          if ($(this).val() === "") isValid = false;
        });
        $(".chosen-select").each(function() {
          if ($(this).val() === "") isValid = false;
        });
        return isValid;
      }

      //if (validateForm() == true) {
        var userData = {
          name: $("#name").val(),
          grade: $("#grade").val(),
          email: $("#email").val(),
          password: $("#pword").val(),
          scores: [
          $("#q1").val(),
          $("#q2").val(),
          $("#q3").val(),
          $("#q4").val(),
          $("#q5").val(),
          $("#q6").val(),
          $("#q7").val(),
          $("#q8").val(),
          $("#q9").val(),
          $("#q10").val()
          ]
        };

          //console.log(JSON.stringify(userData));

          $.post("/data", userData);
          

        //} else {
          //alert("Please fill out all fields before submitting!");
        //}
        return false;
      });
 
    </script>