<!DOCTYPE html>
<html>

	<head>
		<script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/public/bootstrap.css"/>

    <link rel="stylesheet" href="/public/style.css"/>
  </head>


	<body>

    <div id="nav-placeholder"></div>
    <div id="chat-placeholder"></div>

    <div id="main">

      <div>
        <h2 class="second-title"> New Found Form </h2>
      </div>

      <form class="lost-form-container" method="post" action="/get_lost_data">

        <input type="text" class="question" name="description" required autocomplete="off" />
        <label for="description"><span>Description of Item</span></label>

        <input name="location" rows="2" class="question" required autocomplete="off"></textarea>
        <label for="location"><span>Where did you find it? </span></label>
        

        <h2 class="form-btn-group">Category
          <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
            <label class="btn btn-outline-light" for="btnradio1">Electronic Devices</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
              <label class="btn btn-outline-light" for="btnradio2">Books</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
            <label class="btn btn-outline-light" for="btnradio3">Clothing</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
            <label class="btn btn-outline-light" for="btnradio4">Other</label>
          </div>
        </h2>


        <input name="name" rows="2" class="question" required autocomplete="off"></textarea>
        <label for="msg"><span>Your Name</span></label>

          
        <h2 class="form-btn-group">Your grade level
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio" value="option1">
            <label class="form-check-label" for="inlineRadio">9</label>
          </div>
              
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio" value="option2">
            <label class="form-check-label" for="inlineRadio">10</label>
          </div>

          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio" value="option2">
            <label class="form-check-label" for="inlineRadio">11</label>
          </div>

          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio" value="option2">
            <label class="form-check-label" for="inlineRadio">12</label>
          </div>
        </h2>

        <input name="email" rows="2" class="question" required autocomplete="off"></textarea>
        <label for="msg"><span>Email</span></label>


        <div class="input-group mb-3" width="auto" background="transparent">
          <input type="file" class="form-control" id="inputGroupFile02">
          <label class="input-group-text" for="inputGroupFile02">Upload A Picture</label>
        </div>


        <div class="container">
          <form method='get' action='/lost_found'>
            <button class="btn btn-light">Back</button>
          </form>
            
    			<button type="submit" class="btn btn-light">Submit</button>

        </div> 

    	</form>

      <div>
        <h2 class="second-title"> Thank you for your kind act &#128522; &#128522; &#128522;</h2>
      </div>

    </div>

		<script type="text/javascript">

			$("#submit_lost_found").click(function(){

				console.log("HEY");

				var lost_item_data = {
					item_name: $("#item_name").val(),
					your_name: $("#your_name").val(),
					email: $("#email").val(),
					description: $("#description").val()

				}

				//$.post("/get_lost_data", lost_item_data);

				return false;

			})

      $(function(){$("#nav-placeholder").load("/views/nav.html");});
      $(function(){$("#chat-placeholder").load("/views/chat.html");});

		</script>

	</body>

</html>


<!-- <button class="btn btn-lg btn-primary" type="submit" id="submit" onclick="location.replace('/main')">Submit!</button>
      <br />
      <br />
    </div>

  </form>

  <script type="text/javascript">

    $("#submit").click(function() {
      function validateForm() {
        var isValid = true;
        $(".form-control").each(function() {
          if ($(this).val() === "") isValid = false;
        });
        $(".chosen-select").each(function() {
          if ($(this).val() === "") isValid = false;
        });
        return isValid;
      }

      //if (validateForm() == true) {
        var userData = {
          name: $("#name").val(),
          grade: $("#grade").val(),
          email: $("#email").val(),
          password: $("#pword").val(),
          scores: [
          $("#q1").val(),
          $("#q2").val(),
          $("#q3").val(),
          $("#q4").val(),
          $("#q5").val(),
          $("#q6").val(),
          $("#q7").val(),
          $("#q8").val(),
          $("#q9").val(),
          $("#q10").val()
          ]
        };

          //console.log(JSON.stringify(userData));

          $.post("/data", userData);
          

        //} else {
          //alert("Please fill out all fields before submitting!");
        //}
        return false;
      });
 
    </script>