<!DOCTYPE html>
<html>

<head>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    
    <link rel="stylesheet" href="/public/style.css" />

	<title>NEWS</title>
</head>

<body>


	<form method="get" action="/new_news">
		<button >New Lost Form</button>
	</form>

	<video>
		<source src="https://drive.google.com/uc?export=download&id=https://drive.google.com/file/d/1gOdUfG-TSbPUITPTtGkDDW3p80Vsr7Z7/view?usp=sharing" type='video/mp4'>
	</video>

	<div id="nav-placeholder">
	</div>

	<div id="main">
		<div style="background-color:blue; width:500px; height:500px;"></div>
	</div>
	<script>
			$(function(){
        		$("#nav-placeholder").load("/views/nav.html");
      		});
	</script>

</body>



</html>