<!DOCTYPE html>
<html>

<head>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    
    <link rel="stylesheet" href="/public/style.css" />

	<title>NEWS</title>
</head>

<body>


	<div id="nav-placeholder">
	</div>

	<form method="get" action="/posting_news">
		<button>POST NEWS</button>
	</form>

	<button onclick="getData()">Update</button>

	<div id="lost_items">

		<iframe src="https://drive.google.com/file/d/1ToKJ7Z34Xe-SecUJwckzoNsZRO3BSnZB/preview" width="640" height="480"></iframe>


	</div>

	<script>
			$(function(){
        		$("#nav-placeholder").load("/views/nav.html");
      		});

			function getData(){
			$.get("/return_news", function(news){
				document.getElementById("lost_items").innerHTML += news.title;
				document.getElementById("lost_items").innerHTML += news.linked_writing;
			});
			}

	</script>

</body>



</html>