<!DOCTYPE html>
<html>

<head>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    
    <link rel="stylesheet" href="/public/style.css" />

	<title>NEWS</title>
</head>

<body>
	<form method="get" action="/new_news">
		<button >Add News story</button>
	</form>

	<button onclick="getData()">UPDATE</button>


	<div id="nav-placeholder">
	</div>

	<div id="main">
		
	</div>

	<script>
			$(function(){
        		$("#nav-placeholder").load("/views/nav.html");
      		});

			$.get("/return_news", function(data){

				document.getElementById("main").innerHTML += data.title;
				document.getElementById("main").innerHTML += "</br>";
				document.getElementById("main").innerHTML += data.linked_writing;

			});

	</script>

</body>



</html>