<!DOCTYPE html>
<html>

	<head>
		 <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous">
  	
  </script>
	</head>

	<body>

		<form method='get' action='/'>
			<button>Home</button>
		</form>
		
		<form method ="post" action = "/new_news"  >

			<h2>Title <input type="text" name="newsTitle" placeholder="Title"> </h2>
			<h2>Image <input type="text" name="image"> </h2>
      		<h2>Link to Google Doc <input type="text" name="writing"> </h2>

			<button type="submit" >Submit</button>

		</form>

	</body>

</html>


