<!DOCTYPE html>
<hmtl>
	
	<head>
		<link rel="stylesheet" href="/public/style.css" />

		<title>Tutoring request and accept</title>

		<script
		src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous"></script>
	</head>

	<body>
		<div id="nav-placeholder"></div>
		<div id="chat-placeholder"></div>

		<div id="main">
			<h2 class="second-title">Tutoring</h2>
			<form method="post" action="/tutoring_request">
			<h2>Name <input type="text" name="student_name"></h2>
			<h2>Grade <input type="text" name="student_grade"></h2>
			<h2>Email <input type="text" name="email"></h2>
			<h2>Course <input type="text" name="course"></h2>
			<h2>Note <input type="text" name="note"></h2>

			<button type = "submit" >Request tutor</button>
			</form>

		</div>

		<script>
			$(function(){
	        	$("#nav-placeholder").load("/views/nav.html");
	      	});
		</script>

		<script type="text/javascript">

			$("#submit_tutoring").click(function(){

				console.log("HEY");

				var tutor_request_data = {
					student_name: $("#student_name").val(),
					student_grade: $("#student_grade").val(),
					email: $("#email_tutoring").val(),
					course: $("#course").val()
				}

				console.log(tutor_request_data);

				//$.post("/tutoring_request", tutor_request_data);

				return false;

			})

			$(function(){$("#nav-placeholder").load("/views/nav.html");});
			$(function(){$("#chat-placeholder").load("/views/chat.html");});

		</script>

	</body>

</hmtl>