<!DOCTYPE html>
<html>
	
	<head>
		<title>Uploading Videos</title>
	</head>

	<body>
		<div id="nav-placeholder"></div>
		<div id="chat-placeholder"></div>

		<div id="main">
		
			<form method ="post" action = "/new_vid"  >

				<h2>Title <input type="text" name="vid_title" placeholder="Title"> </h2>
				<h2>Link <input type="text" name="vid_link"> </h2>
	 
				<button type="submit" >Submit</button>

			</form>


		</div>

		<script>
			$(function(){$("#nav-placeholder").load("/views/nav.html");});
			$(function(){$("#chat-placeholder").load("/views/chat.html");});
		</script>
	</body>
</html>