@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:wght@500);

    html,
    body {
      height: 100%;
    }

    body {
      font-family: 'Josefin Sans', serif;
      background-color: #793140;
      transition: background-color .5s;
      color: white;
      margin: 0px;
      transition: filter .5s;
    }

    form {
      background-color: transparent;
      border: none;
    }

    .main-title {
      position: relative;
      font-size: 4.5em;
      font-weight: 800;
      cursor: pointer;
      user-select: none;
      padding-left: 40px;
      padding-right: 40px;
      top: 40%;
      translate: translateY(-50%);
      margin:0px;
    }

    #main {
      position: relative;
      transition: margin-left .5s;
      height: 100vh;
      margin-left: 0px;
      text-align: center;
      margin: 0;
      padding: 0;
      user-select: none;
    }


    #nav-placeholder {
      height:0;
    }

    .menu-button {
      position: relative;
      background-color: transparent;
      border: none;
      outline:none;
      transition: all 0.5s;
      cursor: pointer;
      user-select: none;
    }

    .menu-button:hover {
      -webkit-transform: translateX(20px);
      transform: translateX(20px);
      transition: all 0.25s ease; 
      cursor: pointer;
    }

    #open-sidenav {
      position: relative;
      left: 30px;
      top: 20px;
      user-select: none;
      font-size: 35px;
      cursor: pointer;
      z-index: 1;
    }

    .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 80px;
    }

    .sidenav a {
      padding: 15px 8px 8px 30px;
      text-decoration: none;
      font-size: 28px;
      font-weight: 500;
      color: #818181;
      display: block;
      transition: 0.3s;
      max-width: 100px;
      text-align: left;
    }

    .sidenav a:hover {
      color: #457e81;
    }

    .sidenav .closebtn {
      position: absolute;
      top: 3px;
      left: 10px;
      font-size: 70px;
    }

    
    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }
